<% content_for :head do %>
  <%= stylesheet_link_tag @css_files %>
  <%= javascript_include_tag 'dashboard' %>
  <%= javascript_include_tag @js_files %>
<% end %>
<div>
  <div class="DisplayPort">
    <ul id="bacn_list" class="Container ItemList">
      <li style="text-align:center;">
        <input onclick="this.select();" type="text" id="email" value="<%= session[:user][:account]%>@sift.mozillalabs.com"/>
      </li>
    </ul>
  </div>
  <div id="dashboard_templates" style="display:none;">
    <ul>
      <% @renderers.each do |renderer| %>
        <li class="<%= renderer[:source].gsub(/\./, '_')%>_Template">
          <div>
            <%= raw renderer[:template]%>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
